/* Estilização da Div do Header que contém os Icons e o texto */
.HeaderDiv {
  background-color: #3a7a48;

  height: 40px;
  width: 90px;
  border-radius: 10px;
  margin-top: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: left;

  margin-top: 5px;
}

/* Estilização das imagens Logo Header*/
.LogoHeader {
  height: 60px;
  width: 60px;
}
